<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ALGallery Store website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/Roboto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/poppins.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rufina.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/algalleryStoreWebsite.css" asp-append-version="true" />
    
</head>


<body>
   
    
    <div class="algallery-store-website">
        <div class="header">
            <div class="maintext-container">
                
            <div class="right-side">
                  
                     
                  <a asp-area=" " asp-controller="CartItem" asp-action="Index">
                        <img class="cart" src="~/assets/vectors/group1_x2.svg" />
                    </a> 
                   
             
                    <a class="login" asp-area="" asp-controller="Account" asp-action="Login">

                        <span class="login-1">
                            Login
                        </span>
                    </a>

                    <a class="regester" asp-area="" asp-controller="Order" asp-action="AdminIndex">
                        <span class="regester-1">
                            REGISTER
                        </span>
                    </a>

            </div>


            <div class="header-line">
                 <a  asp-area="" asp-controller="Home" asp-action="Home">
                <div class="logooooooooooo">
                </div>
                </a>
                <div class="header-line-1">

                        <a class="home" asp-area="" asp-controller="Home" asp-action="Home">
                           
                            <span class="home" >
                                Home
                             </span>
                         </a>
                        <a class="about" asp-area="" asp-controller="Home" asp-action="About">
                            <span class="about">
                            ABOUT
                             </span>
                        </a>

                        <a class="collection" asp-area="" asp-controller="Collection" asp-action="Index">
                            <span class="collection">
                            collection
                            </span>
                        </a>

                        <a class="contact-1" asp-area="" asp-controller="Contacts" asp-action="Create">
                                <span class="contact-1">
                            Contact
                            </span>
                        </a>
                </div>
            </div>
       
        </div>
        
 </div>
 </div>





    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>





    <div class="algallery-store-website">
    <div class="footer">
        <div class="footer-container">
            <div class="footerTextcontainer">
                <div class="footerTextcontainer-1">
                    <div class="social-media">
                        Social Media
                    </div>
                    <div class="social-medialogos">
                        <div class="facebook">
                            <img class="vector-4" src="~/assets/vectors/vector21_x2.svg" />
                        </div>
                        <div class="twitter">
                            <img class="vector-5" src="~/assets/vectors/vector51_x2.svg" />
                        </div>
                        <div class="instagram">
                            <img class="vector-6" src="~/assets/vectors/vector56_x2.svg" />
                        </div>
                    </div>
                </div>



                <div class="shopGroup">
                    <div class="shop">
                        SHOP
                    </div>
                    <div class="products">
                        Products
                    </div>
                    <div class="terms">
                        Terms
                    </div>
                    <span class="privacy">
                        Privacy
                    </span>
                </div>
                <div class="companyGroup">
                    <div class="company">
                        Company
                    </div>
                    <div class="about-us">
                        About us
                    </div>
                    <div class="contact">
                        Contact
                    </div>
                    <span class="news">
                        News
                    </span>
                </div>
                <div class="stay-up">
                    <div class="stay-up-to-date">
                        Stay up to date
                    </div>
                    <form>
                        <input type="email" name="container-email" placeholder="Enter your email">
                        <input type="submit" value="Submit">
                    </form>

                </div>
            </div>
            <div class="line-footer">
            </div>
        </div>
            <a asp-area="" asp-controller="Home" asp-action="Home">
                <div class="logo-footer">
                </div>
            </a>
        
    </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
